* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, rgba(9,90,121,1) 25%, rgba(255,154,0,1) 100%);
    width: 100vw;
    height: 100vh;
}

.entete{
    display: flex;
}

.container1 {
    display: flex;
    width: 70vw;
    height: auto;
    align-items: center;
    padding-top: 3vh;
    padding-left: 2vw;
}

.container1 a img{
    margin-left: auto;
    margin-right: auto;
}

.icones{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 30vw;
    height: auto;
    padding-right: 5vw;
    
}

.fab{
    color: white;
    font-size: 50px;
    padding-right: 2vw;
    text-decoration: none;

}

.fas{
    color: white;
    font-size: 50px;
}

.fa-map-marked{
    padding-right: 2vw;
}

nav {
    display: flex;
    justify-content:space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
}

.navbar{
padding-bottom: 2vh;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: white;
    letter-spacing: 4px;
    font-size: 18px;
    text-decoration: none;
}

.nav-links li:hover {
    transform: scale(1.1);
}

.bienvenue{
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height:60vh;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    color: white;
}

.insidebien{
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    height:60vh;
}

.insidebien h2{
    text-align: center;
}

.footer {
    background-color: #f7ae50;
    color: black;
    text-align: center;
    align-items: center;
    height: 5vh;
    }
