* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, rgba(9,90,121,1) 25%, rgba(255,154,0,1) 100%);
}

.thinker {
    background: rgb(9,90,121);
    background: linear-gradient(180deg, rgba(9,90,121,1) 25%, rgba(255,154,0,1) 100%);
    background-size: 100vw;
    width: 100vw;
}

nav {
    display: flex;
    justify-content:space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    flex-direction: column;
} 

.entete1{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: auto;
}

.iconic {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: right;
}

.entete2 {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: auto;
    padding-bottom: 4vh;
}

.container1 img:hover{
    transform: scale(1.02);    
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 100vw;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: white;
    letter-spacing: 4px;
    font-size: 18px;
    text-decoration: none;
}

.nav-links li:hover {
    transform: scale(1.1);
}

.menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /*border: 3px solid #fff;*/
}

.menu-btn-burger {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;

}

.menu-btn-burger::before,

.menu-btn-burger::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.menu-btn-burger::before{
    transform: translateY(-16px);
}

.menu-btn-burger::after{
    transform: translateY(16px);
}

/* Button ANIMATION */
.menu-btn.open .menu-btn-burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
    z-index:2;
}

.menu-btn.open .menu-btn-burger::before{
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn-burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

.icones{
    display: flex;
    justify-content: right;
    padding-right: 10%;
}

.fab{
    color: white;
    font-size: 50px;
    padding-right: 2vw;
    text-decoration: none;

}

.fa-skype{
    color: #00AFF0;
    font-size: 40px;
}

.fas{
    color: white;
    font-size: 50px;
}

.fa-map-marked{
    padding-right: 2vw;
}

.bienvenue{
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    height:auto;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    color: white;
}

.insidebien{
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    height:auto;
}

.insidebien h2{
    text-align: center;
    padding-bottom: 3vh;
}

.insidebien h3{
    text-align: center;
}

.founders{
    padding-top: 10vh;
    padding-bottom: 5vh;
    width: 80vw;
    height:auto;
}

.cards{
    display: flex;
    width: 100%;
    height: auto;
}

.card1{
    width: 50%;
    height: auto;
    border-right: 2px solid white;
}

.card2 {
    width: 50%;
    height: auto;
}

.fondateur-titre{
    text-align: center;
    padding-bottom: 2vh;
}

.antenne-titre {
    text-align: center;
    padding-bottom: 2vh;
}

.fondateur-cards{
    display: flex;
    flex-direction: row;
}

.antenne-cards{
    display: flex;
    flex-direction: row;
}

.thierry{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -100vw;
    transition: 0.8s;
}

.relocthierry {
    left:0;
}

.thierry a{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
}

.thierry a img{
    border-radius: 50%;
    width: 80%;
}

.thierry h3{
    display: flex;
    padding-top: 2vh;
}

.aurore {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -100vw;
    transition: 0.8s;
}

.relocaurore{
    left:0;
}

.aurore img{
    border-radius: 50%;
    width: 80%;
}

.aurore h3{
    padding-top: 2vh;
}

.antoine {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -100vw;
    transition: 0.8s;
}

.relocantoine {
    right:0;
}

.antoine a{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
}

.antoine a img{
    border-radius: 50%;
    width: 80%;
}

.antoine h3{
    padding-top: 2vh;
}

.david {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -100vw;
    transition: 0.8s ease-out;
}

.relocdavid {
    right:0;
}

.david a{
    display: flex;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
}

.david a img{
    border-radius: 50%;
    width: 80%;
}

.david h3{
    padding-top: 2vh;
}

.footer {
    display: flex;
    background-color: transparent;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 5vh;
    }

    @media all and (max-width:767px) {

    
        body {
            display: block;
            margin: 0;
            padding:0;
            place-items: center center;
            font-family: 'Poppins', sans-serif;
            width: 100vw;
            height: auto;
        }
    
        .navbar {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: auto;
            padding-bottom: 3vh;
        }

        .entete1 {
            display: flex;
            flex-direction: column;
        }

        .burger{
            display: flex;
            flex-direction: row;
            width: 100vw;
            height: auto;
        }

        .iconic{
            width: 100vw;
            height: auto;
        }

        .container1{
            width: 100%;
            height: auto;
        }
    
        .container1 img{
            width: 75vw;
        }
        
        .nav-links{
            position: absolute;
            width: 100vw;
            height: auto;
            top:0;
            bottom: 50vh;
            left:-100vw;
            display: flex;
            flex-direction: column;
            row-gap: 2vh;
            justify-content: center;
            align-items: center;
            background-color: black;
            transition: 0.3s;
        }
    
        .nav-links.active{
            left:0;
            z-index: 1;
        }
    
    
        .menu-btn{
            display: flex;
            position: flex-start;
            width: 40px;
            height: 40px;
            margin-top: 15px;
            margin-right: 15px;
            margin-bottom: 15px;
            margin-left: 4vw;
        }
    
        .menu-btn-burger {
            width: 40px;
        }
    
        .menu-btn-burger::after{
            width: 40px;
        }
    
        .menu-btn-burger::before{
            width: 40px;
        }
    
        .icones{
            justify-content: space-between;
            align-items: center;
            padding-top: 2vh;
            padding-bottom: 2vh;
            padding-left: 5vw;
            padding-right: 5vw;
            width: 100%;
            height: auto;
        }
    
        .founders{
            padding-top: 5vh;
        }

        .fondateur-cards{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .antenne-cards{
            display: flex;
            flex-direction: column;
            justify-content: center;
            place-items: center;
        }
    
        .cards{
            display:flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            padding-top: 2%;
            padding-left: 0;
            padding-right: 0;
        }
       
        .card1 {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            justify-content: center;
            border-right: none;
        }
        
        .card2 {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            justify-content: center;
            padding-top: 4vh;
        }
        
        .thierry{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 4vh;
        }

        .aurore {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 4vh;
            padding-bottom: 4vh;
            border-bottom: 2px solid white;
        }

        .antoine {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 4vh;
            padding-bottom: 4vh;
        }

        .david {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


        .footer {
            background-color: transparent;
            color: white;
            text-align: center;
            align-items: center;
            width: 100vw;
            height: 5vh;
        }
    }
    
    @media all and (min-width:767px) and (max-width:1366px) {
    
        body {
            display: block;
            margin: 0;
            padding:0;
            place-items: center center;
            font-family: 'Poppins', sans-serif;
            width: 100vw;
            height: auto;
        }
    
        .navbar {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: auto;
            padding-bottom: 3vh;
        }

        .entete1 {
            display: flex;
            flex-direction: column;
        }

        .burger{
            display: flex;
            flex-direction: row;
            width: 100vw;
            height: auto;
        }

        .iconic{
            width: 100vw;
            height: auto;
        }

        .container1{
            width: 100%;
            height: auto;
        }
    
        .container1 img{
            width: 75vw;
        }
        
        .nav-links{
            position: absolute;
            width: 100vw;
            height: auto;
            top:0;
            bottom: 50vh;
            left:-100vw;
            display: flex;
            flex-direction: column;
            row-gap: 2vh;
            justify-content: center;
            align-items: center;
            background-color: black;
            transition: 0.3s;
        }
    
        .nav-links.active{
            left:0;
            z-index: 1;
        }
    
    
        .menu-btn{
            display: flex;
            position: flex-start;
            width: 50px;
            height: 50px;
            margin-top: 50px;
            margin-right: 40px;
            margin-bottom: 30px;
            margin-left: 4vw;
        }
    
        .menu-btn-burger {
            width: 50px;
        }
    
        .menu-btn-burger::after{
            width: 50px;
        }
    
        .menu-btn-burger::before{
            width: 50px;
        }
    
        .icones{
            justify-content: space-between;
            align-items: center;
            padding-top: 2vh;
            padding-bottom: 2vh;
            padding-left: 5vw;
            padding-right: 5vw;
            width: 100%;
            height: auto;
        }
    
        .founders{
            padding-top: 5vh;
        }

        .fondateur-cards{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .antenne-cards{
            display: flex;
            flex-direction: column;
            justify-content: center;
            place-items: center;
        }
    
        .cards{
            display:flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            padding-top: 2%;
            padding-left: 0;
            padding-right: 0;
        }
       
        .card1 {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            justify-content: center;
            border-right: none;
        }
        
        .card2 {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            justify-content: center;
            padding-top: 4vh;
        }
        
        .thierry{
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 4vh;
        }

        .aurore {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 4vh;
            padding-bottom: 4vh;
            border-bottom: 2px solid white;
        }

        .antoine {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 4vh;
            padding-bottom: 4vh;
        }

        .david {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }


        .footer {
            background-color: transparent;
            color: white;
            text-align: center;
            align-items: center;
            width: 100vw;
            height: 5vh;
        }
    }
    
        