
  .event {
    box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
    display: flex;
    border-radius: 8px;
    width:100%;
  }
  
  .event .event-left {
    background: #222;
    min-width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #eee;
    font-weight: bold;
    text-align: center;
    border-radius: 8px 0 0 8px;
  }
  
  .event .event-left .date {
    font-size: 30px;
  }
  
  .event .event-left .month {
    font-size: 16px;
    font-weight: normal;
  }
  
  .event .event-right {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .event .event-description{
    width: 25%;
    color: red;
  }
  
  .event .event-right h3.event-title {
    width: 50%;
    font-size: 16px;
    margin: 24px 5px 10px 5px;
    color: #218bbb;
    text-transform: uppercase;
  }
  
  .event .event-right .event-timing {
    justify-content: right;
    background: #f7ae50;
    padding: 8px;
    border-radius: 16px;
    margin: 24px 5px 24px 5px;
    font-size: 16px;
    width: 25%;
  }
  
  .event .event-right .event-timing img {
    height: 20px;
    padding-right: 8px;
  }
  
  @media all and (max-width: 767px) {
    .event {
      flex-direction: column;
    }
  
    .event .event-left {
      padding: 0;
      border-radius: 8px 8px 0 0;
    }
  
    .event .event-left .event-date .date,
    .event .event-left .event-date .month {
      display: inline-block;
      font-size: 24px;
    }
  
    .event .event-left .event-date {
      padding: 10px 0;
    }

    .event .event-right h3.event-title {
      width: 40vw;
      font-size: 14px;
      margin: 10px 0 10px 0;
      color: #218bbb;
      text-transform: uppercase;
    }

    .event .event-right .event-timing {
      width: 90px;
      height: auto;
    }
  }

  @media all and (min-width:767px) and (max-width:1366px) {

    .events{
      width: 100%;
      height: auto;
      position: relative;
      padding-left: 10%;
      padding-right: 10%;
    }

    .event {
      max-width: none;
      width: 100%;
      height: auto;
      flex-direction: none;
    }

    .event .event-left {
      padding: 0;
      border-radius: 8px 8px 0 0;
    }

    .event .event-right {
      display: flex;
      max-width: none;
    }

    .event .event-left .event-date .date,
    .event .event-left .event-date .month {
      display: inline-block;
      font-size: 24px;
    }
  
    .event .event-left .event-date {
      padding: 10px 0;
    }

    .event .event-right h3.event-title {
      font-size: 14px;
      margin: 10px 0 10px 0;
      color: #218bbb;
      text-transform: uppercase;
    }

    .event .event-description{
      color: red;
      padding: 10px;
    }

  }
  
