* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    display: flex;
    place-items: center center;
    font-family: 'Poppins', sans-serif;
}

.thinker {
    background: rgb(9,90,121);
    background: linear-gradient(180deg, rgba(9,90,121,1) 25%, rgba(255,154,0,1) 100%);
    background-size: 100vw;
    height: 70vh;
    width: 100vw;
}

#text{
    color:rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    margin-top: 0.5%;
    margin-right: 70%;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-shadow: 2px 2px 30px black;
}

nav {
    display: flex;
    justify-content:space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
}

.container1 img:hover{
    transform: scale(1.02);    
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 65%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: white;
    letter-spacing: 4px;
    font-size: 18px;
    text-decoration: none;
}

.nav-links li:hover {
    transform: scale(1.1);
}

.menu-btn {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    /*border: 3px solid #fff;*/
}

.menu-btn-burger {
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
    padding-right: 10%;
}

.menu-btn-burger::before,

.menu-btn-burger::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.menu-btn-burger::before{
    transform: translateY(-16px);
}

.menu-btn-burger::after{
    transform: translateY(16px);
}

/* Button ANIMATION */
.menu-btn.open .menu-btn-burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn-burger::before{
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn-burger::after{
    transform: rotate(-45deg) translate(35px, 35px);
}

.icones{
    display: flex;
    justify-content: right;
    padding-right: 10%;
}

.fab{
    color: white;
    font-size: 50px;
    padding-right: 2vw;
    text-decoration: none;

}

.fa-skype{
    color: #00AFF0;
    font-size: 40px;
}

.fas{
    color: white;
    font-size: 50px;
}

.fa-map-marked{
    padding-right: 2vw;
}

.backdrop{
    display: flex;
    width: 100%;
    height: 30vh;
    justify-content: center;
    align-items: center;
}

.container3 {
    width: 500px;
    height: 200px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    color: white;
    font-size: 20px;
    text-align: center;
    align-content: center;
    border-radius: 50px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.5);
}

.cards{
    display: grid;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
    column-gap: 2vw;
    width: 100%;
}

.card{
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.18);
    width: 100%;
}

.container2 {
    position: relative;
    clip-path: polygon(0 0,100% 0,100% 85%, 0 100%);
}

.box {
    width:100%;
    display: block;
}

.details {
    text-align: center;
    color: rgb(0, 0, 0);
}

.details iframe{
    padding-top:40%;
    margin: 0;
}

.covid{
    color:red;
}

.card1 {
   width: 30vw;
   grid-column: 1;
}

.card2 {
   width: 30vw;
   grid-column: 2;
}

.card3 {
   max-width: 450px;
   grid-column: 3;
   margin: 0;
   padding: 0;
}

.container4 iframe{
    max-width: 450px;
}

.row-striped:nth-of-type(odd){
    background-color: #efefef;
    border-left: 4px #000000 solid;
  }
  
  .row-striped:nth-of-type(even){
    background-color: #ffffff;
    border-left: 4px #efefef solid;
  }
  
  .row-striped {
      padding: 15px 0;
  }

  /* COTISATIONS BUTTON*/

  @import url("https://fonts.googleapis.com/css?family=Roboto:900");

.centered {
  position: relative;
  top: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: larger;
  color: black;
  box-shadow: 0 4px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  text-decoration: none;
}

.h-button {
  background: #f7ae50;
  padding: 20px;
  width: 250px;
  text-align: center;
}
.h-button span {
  display: inline-block;
  min-width: 0.3em;
  text-transform: uppercase;
  transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
  opacity: 0;
  transform: translate(0, -20px);
}
.h-button:before {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  left: 0;
  transition: 0.25s cubic-bezier(0.5, -1, 0.5, 2);
  text-transform: uppercase;
  letter-spacing: 3.5px;
  opacity: 1;
  transform: translate(0, 0px);
}
.h-button:hover:before, .h-button:focus:before {
  opacity: 0;
  transform: translate(0, 20px);
}
.h-button:hover span, .h-button:focus span {
  opacity: 1;
  transform: translate(0, 0);
}
.h-button:hover span:nth-child(1), .h-button:focus span:nth-child(1) {
  transition-delay: 0.025s;
}
.h-button:hover span:nth-child(2), .h-button:focus span:nth-child(2) {
  transition-delay: 0.05s;
}
.h-button:hover span:nth-child(3), .h-button:focus span:nth-child(3) {
  transition-delay: 0.075s;
}
.h-button:hover span:nth-child(4), .h-button:focus span:nth-child(4) {
  transition-delay: 0.1s;
}
.h-button:hover span:nth-child(5), .h-button:focus span:nth-child(5) {
  transition-delay: 0.125s;
}
.h-button:hover span:nth-child(6), .h-button:focus span:nth-child(6) {
  transition-delay: 0.15s;
}

/*END COTISATION BUTTON*/


  .footer {

  background-color: #f7ae50;
      color: black;
      text-align: center;
      align-items: center;
      height: 5vh;
  }



@media all and (max-width:767px) {

    
    body {
        display: block;
        margin: 0;
        padding:0;
        place-items: center center;
        font-family: 'Poppins', sans-serif;
        width: 100vw;
        height: auto;
    }

    .thinker {
        background-image: none;
        background: rgb(9,90,121);
        background: linear-gradient(180deg, rgba(9,90,121,1) 25%, rgba(255,154,0,1) 100%);
        height: 80vh;
        width: 100vw;
    }

    .container1{
        width: 80vw;
        height: auto;
    }

    .container1 img{
        width: 80vw;
    }
    

    .a .navbar-brand{
        display: none;
        visibility: hidden;
    }

    .nav-links{
        display: none;
    }

    .menu-btn{
        display: flex;
        width: 40px;
        height: 40px;
    }

    .menu-btn-burger {
        width: 40px;
    }

    .menu-btn-burger::after{
        width: 40px;
    }

    .menu-btn-burger::before{
        width: 40px;
    }

    #text{
        width: 98vw;
        justify-content: center;
        align-items: center;
        font-size: 18px;
    }

    .icones{
        justify-content: space-between;
        align-items: center;
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left: 10%;
    }

    

    .backdrop{
        width: 100vw;
        height: auto;
        padding-top: 2vh;
        padding-bottom: 5vh;
        justify-content: center;
        align-items: center;
    }

    .container3{
        width: 90vw;
        height: auto;
        backdrop-filter: unset;
        font-size: 16px;
    }

    .cards{
        display:block;
        justify-content: center;
        width: 100vw;
        padding-top: 2%;
        padding-left: 0;
        padding-right: 0;
    }
    
    .card{
        display: block;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 0 30px rgba(0,0,0,0.18);
        width: 100vw;
        padding-bottom: 5vh;
    }
   
    .card1 {
        width: 100vw;
        height: auto;
    }
    
    .card2 {
        width: 100vw;
        height: auto;
    }
    
    .card3 {
        display: none;
        width: 100vw;
        height: auto;
    }

    .container2{
        width: 100vw;
        height: auto;
    
    }

    .container4 {
        width: 100vw;
    }

    .details{
       width: 100vw;
       height: auto;

    }

    .footer {
        background-color: #f7ae50;
        color: white;
        text-align: center;
        align-items: center;
        width: 100vw;
        height: 5vh;
    }
}

@media all and (min-width:767px) and (max-width:1366px) {


    body {
        display: block;
        margin: 0;
        padding:0;
        place-items: center center;
        font-family: 'Poppins', sans-serif;
        width: 100vw;
        height: auto;
    }

    .thinker {
        background-image: none;
        background: rgb(9,90,121);
        background: linear-gradient(180deg, rgba(9,90,121,1) 25%, rgba(255,154,0,1) 100%);
        height: 80vh;
        width: 100vw;
    }

    .container1{
        width: 80vw;
        height: auto;
    }

    .container1 img{
        width: 70vw;
    }
    

    .a .navbar-brand{
        width: 100vw;
        height: auto;
    }

    .nav-links{
      display: flex;
      position: absolute;
      justify-content:center;
      width: 230px;
      height: 100%;
    }


    .menu-btn{
        display: flex;
    }


    #text{
        width: 98vw;
        justify-content: center;
        align-items: center;
    }

    .icones{
        justify-content: space-between;
        align-items: center;
        padding-top: 2vh;
        padding-bottom: 2vh;
        padding-left: 10%;
    }

    

    .backdrop{
        width: 100vw;
        height: auto;
        padding-top: 2vh;
        padding-bottom: 5vh;
        justify-content: center;
        align-items: center;
    }

    .container3{
        width: 90vw;
        height: auto;
        backdrop-filter: unset;
    }

    .cards{
        display: block;
        justify-content: center;
        width: 100vw;
        padding-top: 2%;
        padding-left: 0;
        padding-right: 0;
    }
    
    .card{
        display: block;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 0 30px rgba(0,0,0,0.18);
        width: 100vw;
        padding-bottom: 5vh;
    }
   
    .card1 {
        display: block;
        max-width: none;
        width: 100vw;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    
    .card2 {
        display: block;
        max-width: none;
        width: 100vw;
        height: auto;
    }
    
    .card3 {
        max-width: none;
        display: none;
        width: 100vw;
        height: auto;
    }

    .container2{
        width: 100vw;
        height: auto;
    
    }

    .container4 {
        width: 100vw;
    }

    .titre {
        text-align: center;
        color: rgb(0, 0, 0);
    }

    .footer {
        background-color:#16657c;
        color: white;
        text-align: center;
        align-items: center;
        width: 100vw;
        height: 5vh;
    }

}
